body{
  font-family: 'Chewy', cursive;
  background-image: url(https://66.media.tumblr.com/f53db55380097b1932dfcdb40bd620c9/tumblr_inline_p7gavw4Sit1snh43y_540.png);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

*{
  padding: 10px;
  margin:5px
}

.button {
  background-color: #08a4cf;
  border: none;
  border-radius: 10px;
  color: white;
  /* padding: 20px; */
  text-align: center;
  font-size: 16px;
  width: 100px;

}

.introduction {
  font-size: 25px

}

#quote{
  font-size: 30px
}
